{% if desiredState and currentState is undefined %}
    {{ stage('Create ADVANCED View') }}
    CREATE OR REPLACE VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
    (
        {% for col in desiredState.columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}
    AS
    {% for source in desiredState.sources %}
        SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
        {% for col in source.columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        {{ source.join }}

        {% if not loop.last %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ config.insertStrategy }}
            {% else %}
                UNION
            {% endif %}
        {% endif %}
    {% endfor %}
{% elif currentState and desiredState is undefined %}
    {{ stage('DROP ADVANCED View') }}
    DROP VIEW {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
{% elif currentState == desiredState %}

{% else %}
    {{ stage('RECREATE - DROP ADVANCED View',false,"sql","drop") }}
    DROP VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
    {{ stage('RECREATE - CREATE ADVANCED View',false,"sql","create") }}
        CREATE OR REPLACE VIEW {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
    (
        {% for col in desiredState.columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}
    AS
    {% for source in desiredState.sources %}
        SELECT {% if desiredState.config.selectDistinct %} DISTINCT {% endif %}
        {% for col in source.columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        {{ source.join }}

        {% if not loop.last %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ config.insertStrategy }}
            {% else %}
                UNION
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}